<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title><%= title ? `${title} • Easily` : 'Easily' %></title>
<link rel="stylesheet" href="/public/css/main.css"/>
<link rel="icon" href="/public/favicon.ico"/>
