<div class="container nav">
  <a class="brand" href="/">Easily</a>
  <nav>
    <a href="/jobs">Jobs</a>
    <% if (user) { %>
      <a href="/jobs/new">Post Job</a>
      <form class="inline" action="/logout" method="post">
        <button class="btn btn-secondary">Logout (<%= user.name %>)</button>
      </form>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register" class="btn btn-primary">Register</a>
    <% } %>
  </nav>
</div>
